<div class='center jumbotron'>
	
	<div class= 'row pad'>
			Welcome <%= current_user.name %>!
			<%= link_to "Sign Out", signout_path %>
	</div>
	
	<div class='row'>
		<div class="col-md-4 divwithscroll">
			<h4>Your friends:</h4>
			<br>
			<form>
				<% @friends.attrs[:users].each do |todo| %>
					<label for="name"> <%= todo[:name] %>
						<img src="<%= todo[:profile_image_url] %>">
						<input type = 'radio' name = 'friends_list' value = "<%= todo[:profile_image_url] %>" />
					</label>
				<% end %>
				
			</form>
		</div>
  		
		<div class="col-md-8">
  			<h4>Guess which friend tweeted this:</h4>
  			<div class = "box">
				<%= @name_tweet_hash.last %>
			</div>
  		</div>	

  		<div class="col-md-8">
  			
  			<div class = "submit_answer">
  				<br>
  				<form>
  					<input type='submit' value='Submit Guess' class = 'btn btn-primary'>
  				</form>
  			</div>

  			<div class = "right_answer">
				<h4> You are correct! Nice Job! </h4>
				<form>
					<input type='submit' value='Try Again' class = 'btn btn-primary'>
				</form>
			</div>

			<div class = "wrong_answer">
				<h4> Nope, sorry! The correct answer is:
				<%= @name_list[0] %></h4>
				<form>
					<input type='submit' value='Try Again' class = 'btn btn-primary'>
				</form>
			</div>
  		
  		</div>			
	</div>
	
</div>


