<div class='center jumbotron'>
	
	<div class= 'row pad'>
			Welcome <%= current_user.name %>!
			<%= link_to "Sign Out", signout_path %>
	</div>
	
	<div class='row'>
		
		<div class="col-md-4">
			
			<%= form_tag('/tweets/guess', method: "get") do %>
				<br>
				<input type='submit' value='Submit Guess' class = 'btn btn-primary'>
				<br>
				<br>
				<% @result['friends'].attrs[:users].each do |todo| %>
					<label for="name"> <%= todo[:name] %>
						<img src="<%= todo[:profile_image_url] %>">
						<input type = 'radio' name = 'guess[friends_list]' value = "<%= todo[:name] %>" />
					</label>
				<% end %>
			<% end %>
		</div>

		<div class="col-md-8">
  			
  			<% if @win == 1%> 
	  			
	  			<div class = "submit_answer">
		  			<h4>Guess which friend tweeted this:</h4>
		  			<div class = "box">
						<%= @result['hash_array'].shuffle.pop[1] %>
					</div>
	  				<br>
	  				<form>
	  					<input type='submit' value='Submit Guess' class = 'btn btn-primary'>
	  				</form>
	  			</div>
  			
  			<% elsif @win == 2%> 
	  			
	  			<div class = "right_answer">
					<div class = "correct">
						<h4> You are correct! Nice Job! </h4>
					</div>
					<br>
					<form>
						<input type='submit' value='Try Again' class = 'btn btn-primary'>
					</form>
				</div>

			<% elsif @win == 3%>
				
				<div class = "wrong_answer">
					<div class = "wrong">
						<h4> Nope, the correct answer was: <%= @result['name_list'][0] %></h4>
					</div>
					<br>
					<form>
						<input type='submit' value='Try Again' class = 'btn btn-primary'>
					</form>
				</div>

			<% else %>
				<div class = "box">
						<h4> Game Over </h4>
					</div>
  			<% end %>

  		</div>			

	</div>
</div>

