<div class='center jumbotron'>
	
	<div class= 'row pad'>
			Welcome <%= current_user.name %>!
			<%= link_to "Sign Out", signout_path %>
	</div>
	
	<div class='row'>
		
		<div class="col-md-4">
			
			<%= form_tag('/tweets/guess', method: "get") do %>
				<br>
				<% if @state == 1 %> 
					<input type='submit' value='Submit Guess' class = 'btn btn-primary'>
				<% end %>
				<br>
				<br>
				<% @result['friends'].attrs[:users].each do |todo| %>
					<label for="name"> <%= todo[:name] %>
						<img src="<%= todo[:profile_image_url] %>">
						<input type = 'radio' name = 'guess[friends_list]' value = "<%= todo[:name] %>" />
						<input type = 'hidden' name = 'guess[state]' value = "<% @state %>" />
						<input type = 'hidden' name = 'guess[current_friend]' value = "<%= @current_friend %>"/>
					</label>
					<br>
				<% end %>
			<% end %>
		</div>

		<div class="col-md-8 extra">
  			
  			<% if @state == 1 %> 
	  			
	  			<div class = "submit_answer">
		  			<h4>Guess which friend tweeted this:</h4>
		  			<div class = "box">
						<%= @current_tweet %>
					</div>
	  				<br>
	  			</div>
  			
  			<% elsif @state == 2%> 
	  			
	  			<div class = "right_answer">
					<div class = "correct">
						<h4> You are correct! Nice Job! </h4>
					</div>
					<br>
					<%= form_tag('/tweets/again', method: "get") do %>
						<input type='submit' name = 'again' value='Try Again' class = 'btn btn-primary'>
						<input type = 'hidden' name = 'guess[state]' value = "<% @state %>" />
					<% end %>
				</div>

			<% elsif @state == 3%>
				
				<div class = "wrong_answer">
					<div class = "wrong">
						<h4> Nope, the correct answer was: <%= @answer %></h4>
					</div>
					<br>
					<%= form_tag('/tweets/again', method: "get") do %>
						<input type='submit' name = 'again' value='Try Again' class = 'btn btn-primary'>
						<input type = 'hidden' name = 'guess[state]' value = "<% @state %>" />
					<% end %>
				</div>

			<% else %>
				<div class = "box">
						<h4> Game Over </h4>
					</div>
  			<% end %>

  		</div>			

	</div>
</div>

